* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;



}

body {
    font-family: "Switzer" !important;
    background-color: rgb(0, 0, 0, 1);
}


.navbar-section {
    background-color: black;
    height: 76px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 9999999;

}

.nav-sticky {
    position: sticky;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 36px;
    padding-top: 10px;
}

.logo-navbar img {
    width: 128px;
}

.menu-navbar {
    padding-left: 50px;
}



.line {
    width: 25px;
    height: 1px;
    background-color: rgb(212, 206, 206);
    margin: 6px 3px;
}

.menu-text a {
    color: white;
}

.menu-text p {
    font-size: 12px;
    letter-spacing: 1.2px;
    margin: 3px 0 0 3px;
}

.search-navbar {
    padding-left: 53px;
}

.search-navbar input {
    width: 420px;
    height: 40px;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


.search-navbar input::placeholder {

    color: rgb(162, 158, 158);

}

input:focus {
    outline: none;

}

#search {
    padding: 0px 25px;
}

.search-icon {
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;

}

.search-icon i {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 12px;
    font-size: 1.2rem;
    font-weight: 600;
}

.location-navbar {
    width: 30%;
}

.location-text p {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 3px 3px 0px 10px;
}

.location-edit i {
    font-size: 0.5rem;
}

.profile-navbar {
    padding-left: 30px;
}

.profile-icon {
    font-size: 20px;
    margin-top: 9px;
}

.cart-navbar {
    padding-left: 35px;
}

.cart-icon {
    margin-top: 9px;

}

.search-navbar-sm {
    display: none;
}

/* hero section */

.hero-section {
    height: auto;
    width: 100%;
}

.hero-scroll-sm {
    display: none !important;
}

.hero-images {
    width: 100%;
    height: 100%;
}

.hero-images img {
    width: 100%;
}

.custom-arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    outline: none;
    border: none;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;

}

.custom-arrow-btn svg,
.custom-arrow-btn svg path {
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.custom-previous {
    left: 15px;
}

.custom-next {
    right: 15px;
}


/* Category Section  */

.category-section {
    margin: 30px 0;

}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.category-image {
    width: 90px;
    padding-right: 5px;
}

.category-image img {
    width: 90%;
    height: auto;
}

.custom-arrow-category-btn {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    padding: 10px;
    z-index: 999;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

}

.custom-arrow-category-btn svg,
.custom-arrow-category-btn svg path {
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.custom-category-previous {
    left: -40px;
}

.custom-category-next {
    right: -30px;
}

/*  Bank offers */
.bank-offers-section {
    width: 90%;
    margin: auto;
}


.offers {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.offers-image {
    padding: 0 10px;
    width: 50%;
}

.offers-image img {
    width: 100%;
    border-radius: 7px;
}

.offers-image-sm {
    flex: 1 1 50%;

}


/*  Federal Bank Offer */

.federal-bank-section {
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

.federal-bank-section h3 {
    color: #fff;
    padding: 30px 0px 10px 0px;
    font-size: 1.5rem;
}

.federal-bank-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    height: auto;
    padding: 5px 0px;
}

.federal-bank-image {
    padding: 0px 5px;
    width: 50%;

}

.federal-bank-image img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}



/*  Our New Favourites */

.new-fav-section {
    padding-top: 20px;
    width: 90%;
    margin: auto;

}

.new-fav-section h3 {
    color: #fff;
    padding: 30px 0px 10px 0px;
    font-size: 1.5rem;
}

.new-fav-image {
    width: 100%;
    padding: 0px 5px;
}

.new-fav-image img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}


/*  Byte into Apple Accessories */

.apple-accessories-section {
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

.apple-accessories-section h3 {
    color: #fff;
    padding: 30px 0px 10px 0px;
    font-size: 1.5rem;

}

.apple-accessories-images {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.accessories {
    width: 33.33%;
    padding: 0px 5px;

}

.accessories img {
    width: 100%;
}



/*  What’s Hot */

.whats-hot-section {
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

.whats-hot-section h3 {
    color: #fff;
    padding: 30px 0px 10px 5px;
    font-size: 1.5rem;

}


.left-whats-hot {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.right-whats-hot {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}


.whats-hot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.whats-hot-image {
    width: 45%;
}

.whats-hot-image img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}


/*  Limited Time Deals */

.limited-deals-section {
    width: 90%;
    padding: 20px;
    margin: auto;

}

.limited-deals-section h3 {
    color: #fff;
    font-size: 1.5rem;
    padding: 30px 0px 10px 5px;

}


.limited-deals-image {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.deals-image {
    width: 50%;
}

.deals-image img {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 17px;
}

/*  Unboxed by Croma */

.unboxed-section {
    width: 100%;
    padding: 20px 0px;
    margin: auto;
}


.unboxed-image {
    width: 100%;

}

.unboxed {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unboxed-image img {
    width: 100%;
    height: auto;
    position: relative;
}

.unboxed-text {
    color: #fff;
    position: absolute;
    width: 50%;
    height: auto;
    padding-left: 50px;
    right: 8%;
    top: 50%;
    transform: translatey(-50%);
    display: inline-block;


}

.unboxed-text h1 {
    font-size: 3.5rem;
    padding: 20px 0px;

}

.unboxed-text p {
    font-size: 1.5rem;
    padding: 20px 0px;

}

.unboxed-btn {
    width: 140px;
    height: auto;
    background-color: #12daa8;
    border-radius: 7px;
    cursor: pointer;
}

.unboxed-btn:hover {
    background-color: #12be93;
}

.unboxed-btn p {
    font-size: 1.3rem;
    width: 140px;
    height: auto;
    text-align: center;
    padding: 10px 20px;
    color: black;
    font-weight: 700;
}


/*   Footer */

.footer {
    display: flex;
    justify-content: space-evenly;

}

.vl {
    border-left: 1px solid #fff;
    height: 400px;
    padding: 0px 25px;

}


.footer-section {
    width: 90%;
    padding: 20px 0px 20px 0px;
    margin: auto;
    color: white;
    cursor: pointer;
}



.connect-us h3 {
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;

}

.email-input {
    padding: 4px 0px;
    background-color: #ffffff;
    border-radius: 7px;

}

.email-input input {
    width: 85%;
    border: none;

}


.email-input input::placeholder {
    font-size: 1.1rem;

}

#email {
    padding: 15px 25px;
}


.email-input i {
    font-size: 1.5rem;
    color: black;


}

.social-links {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.social-links a {
    color: white;
}

.social-links a .fa-youtube:hover {
    color: red;
}

.social-links a .fa-facebook:hover {
    color: rgb(72, 72, 194);
}


.social-links a .fa-x-twitter:hover {
    color: rgb(72, 72, 194);
}

.social-links a .fa-linkedin:hover {
    color: rgb(72, 72, 194);
}

.social-links i {
    font-size: 1.5rem;
}


.copy-rights {
    margin-top: 50px;
}


/* useful links*/


.link-list {
    display: flex;
    justify-content: space-evenly;
}

.link-list a {
    color: #fff;

}

.link-list li {
    padding: 10px 0px;
}

.right-list{
    margin-left: 9px;
}














/*  Unboxed by Croma */









/*      ********************  Respnsive Widht 1200 ******************** */


@media screen and (max-width:1200px) {
    .navbar {
        padding-left: 20px;
    }

    .offers-sm {
        display: none !important;
    }

    .unboxed-sm-image {
        display: none;

    }


}

/*      ********************  Respnsive Widht 1024 ******************** */

@media screen and (max-width:1024px) {
    .navbar {
        padding-left: 10px;
    }

    .offers-sm {
        display: none !important;
    }

    .unboxed-sm-image {
        display: none;

    }



}


@media screen and (min-width:1024px) {
    .navbar {
        padding-left: 10px;
    }

    .offers-sm {
        display: none !important;
    }

    .unboxed-sm-image {
        display: none;

    }



}



/*      ********************  Respnsive Widht 991 ******************** */

@media screen and (max-width:991px) {
    .navbar-section {
        height: 110px;

    }

    .search-navbar-sm {
        padding: 15px 0px;
        width: 90%;
        margin: auto;
       
    }
    
    #search{
        width: 100%;
        
    }

    .navbar {
        padding-left: 0;
    }

    .menu-text p {
        display: none;

    }

    .location {
        display: none;
    }

    .profile-navbar {
        padding-left: 5px;
    }

    .cart-navbar {
        padding-left: 10px;
    }

    .custom-arrow-btn {
        display: none;
    }

    .hero-sm-section button {
        display: none;
    }

    .hero-large-section button {
        display: none;
    }

    .offers-image img {
        width: 333px;
    }

    .offers-sm {
        display: none !important;
    }

    .navbar {
        padding-top: 6px;
        justify-content: space-around;
    }

    .search-navbar {
        display: none;
    }

    .search-navbar-sm {
        display: flex;
        flex-direction: row-reverse;
        height: 30px;

    }

    .search-icon-sm {
        color: black;
        background-color: white;
        height: 30px;
        display: flex;
        text-align: center;
        align-items: center;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border: none;

    }

    .search-icon-sm i {
        display: flex;
        height: 30px;
        text-align: center;
        align-items: center;
        font-size: .92rem;

    }

    .search-navbar-sm {
        padding-left: 5px;
    }

    .search-navbar-sm input {
        width: 280px;
        height: 30px;
        border: none;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .location-navbar {
        padding-left: 30px;
    }

    .cart-navbar {
        padding-left: 10px;
    }

    .offers-sm {
        display: none !important;
    }

    .unboxed-sm-image {
        display: none;

    }

    .vl-sm {
        display: none;
    }

    .footer-section {
        width: 100%;
        padding: 5px;
    }

    .footer {
        display: inline-block !important;
    }

    .connect-us {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .useful-links {
        
        float: left;
        padding: 30px;
    }

    .product {

        float: right;
        padding: 30px;
    }

    .footer{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .copy-rights{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }


}

/*      ********************  Respnsive Widht 768 ******************** */

@media screen and (max-width:768px) {


    .offers-image img {
        display: none;
    }

    .offers-sm {
        display: flex;

    }

    .offers-image-sm {
        width: 50%;
        flex: 1 1 50%;
    }

    .offers-image-sm img {
        width: 100%;
        height: auto;
        padding: 15px 10px;

    }

    .offers-image-sm img {
        border-radius: 27px;
    }

    .hero-scroll-sm {
        display: block;
    }

    .hero-large-section {
        display: none;
    }


    .hero-large-section .hero-lg-images img {
        display: none;
    }

    .hero-sm-images {
        width: 100%;
    }

    .hero-sm-images img {
        width: 100%;
        height: 100%;
    }

    .hero-scroll-sm {
        display: block !important;
    }

    .hero-large-section button {
        visibility: hidden;
    }

    .unboxed-text h1 {
        font-size: 1.4rem;
        padding: 5px 0px;
    }

    .unboxed-text p {
        font-size: .8rem;
        padding: 5px 0px;
    }

    .vl-sm {
        display: none;
    }

    .footer-section {
        width: 100%;
        padding: 5px;
    }

    .footer {
        display: inline-block !important;
    }

    .connect-us {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .useful-links {
        width: 50%;
        float: left;
        padding: 50px;
    }

    .product {
        width: 50%;
        float: right;
        padding: 50px;
    }

    .footer{
        position: relative;
    }
    .copy-rights{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }


}

/*      ********************  Respnsive Widht 425 ******************** */

@media screen and (max-width:425px) {


    .categories {
        width: 100%;
    }

    .federal-bank-section {
        width: 100%;
        padding: 5px;
    }

    .federal-bank-section h3 {
        font-size: 1.2rem;
    }

    .federal-bank-offer {
        display: flex;
        flex-direction: column;

    }

    .federal-bank-image {
        width: 100%;
    }

    .federal-bank-image img {
        width: 100%;
    }

    .new-fav-section {
        width: 100%;
        padding: 5px;
    }

    .apple-accessories-images {
        flex-direction: column;
    }

    .accessories {
        width: 100%;
    }

    .apple-accessories-section {
        width: 100%;
        padding: 5px;
    }

    .apple-accessories-section h3 {
        font-size: 1.2rem;
    }

    .accessories img {
        width: 100%;
    }

    .whats-hot {
        flex-direction: column;
    }

    .whats-hot-section h3 {
        font-size: 1.2rem;
    }

    .whats-hot-section {
        width: 100%;
        padding: 5px;
    }

    .limited-deals-section {
        width: 100%;
        padding: 5px;
    }

    .limited-deals-section h3 {
        font-size: 1.2rem;
    }

    .limited-deals-image {
        flex-direction: column;
    }

    .deals-image {
        width: 100%;
    }

    .deals-image img {
        width: 100%;
        height: auto;
    }

    .unboxed-section {
        width: 100%;
        padding: 5px;
    }

    .unboxed-lg-image {
        display: none !important;
    }

    .unboxed-sm-image {
        display: inline-block;
    }

    .unboxed-text {
        width: 100%;
        padding: 0px 10px 0px 15px;
        right: 0;
    }

    .unboxed-text h1 {
        font-size: 2.4rem;
        padding: 15px 0px;
    }

    .unboxed-text p {
        font-size: 1rem;
        padding: 5px 0px;
    }

    .footer{
        position: relative;
    }
    .copy-rights{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .useful-links {
        width: 100%;
        padding-top: 25px;
    }

    .product {
        width: 100%;
        padding-top: 25px;
    }




}